
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: radial-gradient(circle,#1D126E,#0B0430 50%);
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

.inner-container{
    width: 70%;
    height: 70%; 
}


.container-box {
    width: 350px;
    height: 350px;
    transform: rotate(45deg);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(140deg, #180D5B,#0c04357d 97%);
    border-radius: 40px;
    position: relative;
}

.blue-box {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid #22D2E3;
    box-shadow: 0 0 10px #22D2E3,inset 0 0 10px #22D2E3;
    position: absolute;
    transform: rotate(30deg);
    z-index: 1;
    animation: blue-rotate linear 10s infinite;
}
.blue-box::before{
    content: '';
        position: absolute;
        left: 100px;
        top: -2px;
        height: 1%;
        width: 22%;
        background: linear-gradient(to right, #22D2E3, white 50%, #22D2E3);
        box-shadow: 0 0 17px #22D2E3, 0 0 10px #22D2E3;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        
}




.pink-box {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid #D113E0;
    box-shadow: 0 0 10px #D113E0,inset 0 0 10px #D113E0;
    position: absolute;
    transform: rotate(50deg);
    z-index: 1;
    animation: pink-rotate linear 15s infinite;
    
}
.pink-box::before {
    content: '';
    position: absolute;
    left: 100px;
    top: -2px;
    height: 1%;
    width: 22%;
    background: linear-gradient(to right, #D113E0, white 50%, #D113E0);
    box-shadow: -20px -20px 17px #D113E0, 0 0 10px #D113E0;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: 1;
}

.black-box {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
    background: #1D126E;
    position: absolute;
    z-index: 1;
    background: transparent;
}
.top-shadow-box {
    width: 310px;
    height: 310px;
    border-radius: 20px;
    background: linear-gradient(120deg,#0F083E,#170e5f6d 40%);
    position: relative;
    overflow: visible;
}
.inner-box{
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background: #1d136cdc;
    position: absolute;
}

.white{
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4);
    
}
.pink-x{
    color: pink;
        text-shadow: 0 0 10px rgba(255, 192, 203, 0.8),
            0 0 20px rgba(255, 192, 203, 0.6),
            0 0 30px rgba(255, 192, 203, 0.4);
            
}

.purple{
    color: purple;
        text-shadow: 0 0 10px rgba(128, 0, 128, 0.8),
            0 0 20px rgba(128, 0, 128, 0.6),
            0 0 30px rgba(128, 0, 128, 0.4);
}

.blue-o{
color: aqua;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8),
        0 0 20px rgba(0, 255, 255, 0.6),
        0 0 30px rgba(0, 255, 255, 0.4);
}
.small{
    font-size: small;
}

i{
    transition: left 0.8s ease, top 0.8s ease;
    z-index: 1;
}

.fa-xmark{
    align-self: flex-start;
    
}
.fa-o{
align-self: flex-start;
}
.e-1{
    position: absolute;
    left: 40%;
    top: 75%;
}
.e-2{
    position: absolute;
    top: 38%;
    left: 52%;
}
.e-3{
    position: absolute;
    top: 70%;
    left: 51%;
}
.e-4{
position: absolute;
    top: 30%;
    left: 47%;
}
.e-5{
    position: absolute;
        top: 50%;
        left: 40%;
}
.e-6{
    position: absolute;
        top: 35%;
        left: 61%;
}

.d-f {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pink-rotate {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(405deg);
    }
}
@keyframes blue-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}






